//
//  CommonCrypto.xcconfig
//  JWT
//
//  Created by Stan P. van de Burgt on 3/31/15.
//  Copyright (c) 2015 RoundZero bv. All rights reserved.
//


// See http://stackoverflow.com/questions/25248598/importing-commoncrypto-in-a-swift-framework (answer from stephencelis) on how to link
// and http://stackoverflow.com/questions/24099520/commonhmac-in-swift (sample code)

MODULEMAP_FILE[sdk=iphoneos*]        = $(SRCROOT)/CommonCrypto/iphoneos.modulemap
MODULEMAP_FILE[sdk=iphonesimulator*] = $(SRCROOT)/CommonCrypto/iphonesimulator.modulemap
MODULEMAP_FILE[sdk=macosx*]          = $(SRCROOT)/CommonCrypto/macosx.modulemap
